:root {
    --font-color: #1d1d1f;
    --light-gray: #c2c2c2;
    --second-font-color: #959595;
    --project-gray: #e7e7e7;
    --way-gray: #f0f0f0;
    --gray: #1d1d1d;
    --whitish: #f5f5f5;
    --dark-blue: #096ea0;
}

abbr, blockquote, body, button, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hgroup, input, legend, li, ol, p, pre, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 17px;
    line-height: 1.2;
    color: var(--font-color);
    background-color: white;
}

nav {
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.85);
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 55px;
    padding: 15px;
    border-bottom: 1px solid var(--light-gray);
    display: flex;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 27px;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 46px;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 14px;
}

p {
    color: var(--second-font-color);
    font-size: 17px;
}

footer {
    background-color: var(--font-color);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parts-list {
    color: var(--second-font-color);
    max-width: 1090px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 950px;
}

.parts-item {
    line-height: 21px;
}

.active {
    color: var(--font-color);
}

.part {
    text-align: center;
}

.spacer {
    width: 100%;
    height: 55px;
}

.about_text {
    background-image: url('../images/about_logo.png');
    background-size: max(100vw, 1830px) 400px;
    background-repeat: no-repeat;
    text-align: start;
    box-sizing: border-box;
    width: 100%;
    max-height: 20vw;
    padding: 110px 130px;
}

.about_text p {
    color: var(--font-color);
    font-size: 28px;
}

.way {
    margin: 0 305px;
}

.way_part {
    margin-top: -5px;
}

.way_window {
    background-color: var(--way-gray);
    width: 363px;
    padding: 25px;
    border: 2px solid var(--dark-blue);
    border-radius: 30px;
    text-align: left;
}

.right {
    margin-left: auto;
}

.projects {
    margin: 0 160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 65px;
    column-gap: 135px;
}

.project {
    background-color: var(--project-gray);
    width: 300px;
    height: 400px;
    border-radius: 40px;
}

.project-logo {
    margin: 31px 0 14px 0;
    max-width: 225px;
    border: 1px solid var(--light-gray);
    border-radius: 15px;
}

.project p {
    width: 261px;
    margin: 0 auto 29px;
    max-height: 63px;
}

.stack {
    display: flex;
    justify-content: space-around;
}

.stack-icon {
    max-height: 50px;
}

.text {
    color: var(--whitish);
}

#my_way, #projects {
    background-image: url(../images/pattern.png);
}

#short-way {
    margin-left: 380px;
}

#etch p {
    margin-bottom: 10px;
}
#recipes h3 {
    margin-bottom: 25px;
}
#recipes p {
    margin-bottom: 40px;
}

#contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#github-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
